/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

/*All*/
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
/*End All*/


/*Navbar*/
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background-color: #FFFFFF;
  padding-top: 5px;
}
.navbar-default a {
  color: #000!important;
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
}
.navbar-default #signUp {
  background-color: #FFB347;
  padding: 11px 20px;
}
/*End Navbar*/

/*header*/
.header {
  background-color: #FFDD57;
  padding-top: 2em;
  padding-bottom: 3em;
  font-family: 'Nunito', sans-serif;
}
.header h1 {
    font-size: 50px;
}
.header p {
  font-size: 20px;
}
.header .btn-white {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  color: #3273dc;
}
.header .btn-white:hover {
  color: #3273dc;
}
.header .btn-pink {
  background-color: #ff2b56;
  border: 2px solid #ff2b56;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
}
/*End header*/

/*Thumbnails*/
#thumbnails {
  background-color: #F5F5F5;
}
#thumbnails .thumbnail:hover {
  box-shadow: 3px 3px 3px #939393;
  transition: 0.3s;
}
#thumbnails h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
#thumbnails p {
  color: #636363;
}
#sponsor {
  background-color: #e2e1e1;
  border-radius: 3px;
}
/*End Thumbnails*/

/*Posts*/
#posts {
  background-color: #F5F5F5;
}
#posts img {
  margin-bottom: 10px;
  border-radius: 5px;
}
/*End Posts*/

/*Join Scotch*/
#join-scotch {
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #247BE6;
  margin-top: 20px;
}
#join-scotch h2 {
  font-size: 60px;;
}
#join-scotch h4 {
  font-weight: bold;
  font-size: 18px;
}
.box {
  background-color: #1862AB;
  margin-top: 20px;
}
.list-group {
  font-family: 'Nunito', sans-serif;
  margin-top: 30px;
}
.list-group p {
  font-size: 16px;
}
#scotch-free {
  background-color: #11D5B5;
  border-color: #11D5B5;
  color: white;
}
#scotch-premium {
  background-color: #F6A617;
  border-color: #F6A617;
  color: white;
}
/*End Join Scotch*/

/*Pre-Footer*/
.pre-footer {
  padding-top: 20px;
  background-color: #222222;
}
.pre-footer h4 {
    color: #999;
}
.pre-footer .thumbnail {
  border-radius: 5px;
  background-color: #000;
  border-color: #000;

}
/*End Pre-Footer*/
